
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');





.body{
    background-color: #F3F5FC;
    display: flex;
    flex-direction: column;

}

.nav{
    display: flex;
    justify-content: flex-start;
    gap: 0px 30px;
}


.manchas {
    height: 50px;
    width: 50px;
}


.main{
    display: flex;
    padding: 0 0 10% 10%;

}

.container_master{
    display: flex;
    gap: 0px 300px;
}

.container_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_entrada{
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
}

.entrada{
    border: none;
    border-color: transparent;
    background-color: #F3F5FC;
    width: 400px;
    height: 300px;
    font-family: "Inter", sans-serif;
    font-size: 2rem;


}

.container_2{
    width: 400px;
    height: 500px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 5px rgb(198, 217, 224);

}
.texto_1{
    color: #343A40;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.texto_2{
    color: #495057;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}
.titulo_salida{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A3871;
    
}

.caja_salida{
    border: none;
    border-color: transparent;
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.info{
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    border-color: #495057;
}
.boton_1{
    border-radius: 20px;
    padding: 24px 24px;
    background-color: #0A3871;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-color: rgb(32, 32, 32);
}

.boton_2{
    border-radius: 20px;
    padding: 24px 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-color: #0A3871;
}

.boton_3{
    border-radius: 15px;
    padding: 16px 16px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-color: #0A3871;
}

.footer{
    background-color: #0A3871;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 1%;
}